@page "/"

<div class="left">
    <div class="content">
        <iframe src="https://engene.azurewebsites.net/"></iframe>
    </div>
</div>

<div class="right">
    <div class="content">   
        <h2>Blog under development</h2>
        <p>Made with Blazor</p>
    </div>
</div>



